
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008E97;
  color: white;
  padding: 0.5rem 1rem; 
  width: 100%;
  height: 12%;
  position: fixed; 
  top: 0; 
  left: 0; 
}

.App {
  padding-top: 160px; 
}

.logo {
  height: 100px; 
  width: auto;
  margin-right: 1rem;
}

.schedule-div {
  justify-content: center;
}